[submodule "configuration"]
	path = configuration
	url = git@github.com:mariane-muniz/aurora-configuration.git
[submodule "discovery"]
	path = discovery
	url = git@github.com:mariane-muniz/aurora-discovery.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:mariane-muniz/aurora-gateway.git
