[submodule "configuration"]
	path = configuration
	url = git@github.com:mariane-muniz/aurora-configuration.git
[submodule "discovery"]
	path = discovery
	url = git@github.com:mariane-muniz/aurora-discovery.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:mariane-muniz/aurora-gateway.git
[submodule "auth"]
	path = auth
	url = git@github.com:mariane-muniz/aurora-auth.git
[submodule "core"]
	path = core
	url = git@github.com:mariane-muniz/aurora-core.git
[submodule "token"]
	path = token
	url = git@github.com:mariane-muniz/aurora-token.git
[submodule "aurora"]
	path = aurora
	url = git@github.com:mariane-muniz/aurora-test.git
